h1 {  
    text-align: center;  
    padding: 23px;    
    width: 200px;
    }  
  
#clear{  
width: 200px;  
height: 60px;
font-size: 17px;
border: 3px solid gray;  
border-radius: 3px;  
padding: 20px;  
margin-top:30px;
margin-left: 80px;
border-radius: 10px;
background-color: red;  
}  
#clear:hover{
    cursor: pointer;
    width: 199px;
    height: 59px;
}

  
.formstyle  
{  
width: 300px;  
height: 510px;  
margin: auto;  
border: 3px solid grey;  
box-shadow: 2px 3px black;
background-color: grey;
border-radius: 5px;  
padding: 20px;  
}  
  
  
  
input  
{  
width: 25px;  
height: 40px;
background-color: rgb(44, 42, 42);  
color: white; 
align-items: center; 
cursor: pointer;
border: 3px solid gray;  
border-radius: 5px;  
padding: 26px;  
margin: 5px;  
font-size: 15px;  
}  
  
  
#calc{  
width: 250px;  
height: 20px;
border: 1px solid black;  
box-shadow: 2px 2px black;
cursor: none;
background-color: rgb(65, 155, 65);
border-radius: 3px;  
padding: 20px;  
margin: auto;  
}  